html{
  min-width: 100%;
  min-height: 100%;
}

.card-doc{
    margin: 10px;
}

.card-dataset{
  margin: 10px;
}

.add_segment_block{
  margin-top: 40px;
  padding: 10px;
}

.close-submenu{
  display: none;
}